.searchBox{
     display: flex;
     flex-direction: row;
     width: 100%;
     margin-bottom: 3px;
}


.searchInput{
    border:none;   
    padding:8px; 
    width: 100%;
    margin-right: -12px;
    margin-left: -8px;
    
}
.searchSubmit {
    border:none;
    padding:8px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(138, 60, 8);
    color: white;
    font-weight: bolder;
    padding: 8px 10px 8px 10px;
    
}

.selectCategory{
	border:none;
    padding:8px 19px 8px 5px;
	border-radius: 10px;
	background-color: rgba(235, 154, 62, 0.753);
	-webkit-appearance: none;
	-moz-appearance: none;
    
    
}
.selectCategory::-ms-expand {    display: none;}

.selectOption{
    padding-left: 4px;

}

@media screen and (max-width: 540px) {
    .selectCategory{
        display:none;
    }
    .searchInput{
        margin-left:1px;
        border-radius: 10px;
    }
    
}