.baseBox{
    font-family: Arial, Verdana,sans-serif;
	background-color: #1b092c;
	position: sticky ;
	width: 100%;
	top: 0;
	color: white;
	padding: 1px;
    display: flexbox;
    flex-direction: block;
    margin-top: -5px;
    
} 
.baseTop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -13px;
}
.maryamBox{
    align-items: left;
}
.profileOrRegister{
    align-items: right;
}
.search{
    display: inline;
    width: 100%;
}
.baseBottom{
    margin:1px 4px 1px 4px;
}
.maryamLink{
    text-decoration: none;
    color: white;
}
.baseProfileBox{
    align-items: right;
    left: 0;
}
.baseCart{
    display: flex;
    flex-direction: block;
    align-items: center;
}
.cartLink{
    text-decoration: none;
    color: white;
}