.listBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    
}
@media screen and (max-width: 540px) {
    .listBox {
        display: block;
        width:100%;
        left:0;
        right:0;
    }

}