.loginBox{
    display:felx;
    text-align:center;
    padding:5px;
    margin:5px 5px 20px 5px;
    width:100%;

}
.input{
    width:80%;
}
.submitButton{
    border-radius: 12px;
    border-color:  rgb(50, 187, 50);
    background-color: #451e3e ;
    color:white;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;

}