.productBox {
    border:1px solid black;
    border-radius: 5px;
    margin:4px;
    padding:2px;
   
}
.productBox:hover{
    background-color: rgb(226, 220, 209);
    
}
.productPic {
    margin:1px;
    padding:1px;
    width:200px;
    height: 200px;
}
.productPicImage{
    width:200px;
    height: 200px;
}

.productLink{
    text-decoration-line: none;
    text-decoration:none;
}
    

.productDetail{
    text-decoration: none;
    color: black;
}
.productName{
    text-decoration: none;
    text-transform: none;
}
.productPrice{
    text-decoration: none;
}
.addToCart{
    text-align:left;
    border-color: rgba(94, 56, 32, 0.842);
    border-radius: 10px;
    background-color: rgb(73, 153, 104);
    color:white;
}
