.productBox {
    border:1px solid black;
    border-radius: 5px;
    margin:5px;
    padding:20px;
}
.productBox:hover{
    background-color: rgb(226, 220, 209);
    
}
.productPic {
    margin:5px;
    padding:5px;
}
.productLink{
    text-decoration-line: none;
    text-decoration:none;
}
    

.productDetail{
    text-decoration: none;
    color: black;
}
.productName{
    text-decoration: none;
    text-transform: none;
}
.productPrice{
    text-decoration: none;
}
